body{
    margin: 0%;
    padding: 0%;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(./assets/images/download.jpeg);
}

.h1{
    /* align-items: center; */
    color: rgb(216, 93, 179);
    text-align: center;
    padding-top: 20px;
    /* text-shadow: 20px gold; */
    border-bottom: 2px;
    /* border-bottom: 3px solid #e0b400; */
    /* transition: all 0.3s ease; */
    padding-bottom: 10px;
}

.d1{
    border: 1px solid;
    border-color: rgb(218, 228, 146);
    border-radius: 0 100px;
    padding-top:  25px;
    margin: 0 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 177, 98);
    padding-bottom: 25px;
    opacity: 2;
}
span{
    text-align: center;
    border: 2px solid rgb(11, 5, 5);
    border-radius: 25px;
    background-color: rgb(233, 170, 25);
    opacity: 5;
    margin: 0 300px;
    padding: 0;
}
.p1{
    text-align: justify;
    /* border-radius: 20px; */
    /* background-color: gold; */
    margin: 10px 100px;
}
.btn{
    background-color: rgb(145, 93, 190);
    margin: 20px 350px 0 350px ;
    border-radius: 50px;
    padding-left: 0;
    
    
    /* margin-top: 20px; */
    /* padding: 25px 0; */
}
.d2{
    border: 1px solid;
    border-color: rgb(13, 15, 1);
    border-radius: 0 100px;
    padding-top:  25px;
    margin: 0 350px;
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 71, 12);
    padding-bottom: 25px;
    opacity: 2;
}
.span2{
    text-align: center;
    border: 2px solid rgb(8, 50, 2);
    border-radius: 25px;
    background-color: rgb(63, 146, 15);
    opacity: 5;
    margin: 0 300px;
    padding: 0;
}
.p2{
    text-align: justify;
    /* border-radius: 20px; */
    /* background-color: gold; */
    margin: 10px 100px;
}
.btn1{
    background-color: rgb(192, 165, 216);
    margin: 20px 350px 0 350px ;
    border-radius: 50px;
    padding-left: 0;
    
    
    /* margin-top: 20px; */
    /* padding: 25px 0; */
}