body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 30px;
}

.a1{
    color: rgb(240, 6, 139);
}

.nav1{
    color: rgb(24, 1, 1);
    border: 1px solid rgb(241, 235, 235);
    background-color: rgb(241, 4, 4);
    border-radius: 5px;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.colors{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 20%;
    height: 147.7px;
    color: rgb(32, 29, 29);
    font-weight: bold;
}

@media (max-width:768px) {
    .colors span{
        display: none;
    }

    .colors{
        height: 172.1px;
    }
}

@media (max-width:426px) {
    .colors{
        height: 125.9px;
    }

    .nav1{
        font-size: 10px;
    }

    .a1{
        font-size: 12px;
    }

    .sound{
        font-size: 12px;
    }

}